/*:root{
	--c1: #b744b8;
	--c2: #a379c9;
	--c3: #adb9e3;
	--c4: #acdde7;
	--c5: #9ad5ca;
	--c6: #ffffff;
}*/

:root{
	--c1: #073b4c;
	--c2: #118ab2;
	--c3: #06d6a0;
	--c4: #ffd166;
	--c5: #f78c6b;
	--c6: #f8f8f8;
}

*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

.main{
	display:block;
}

.parta {
	display:block;
	position:absolute;
	width:12vw;
	
}

.partb {
	animation-name: blendin;
	animation-duration: 0.5s;
	/*background-color:pink;*/
	display:block;
    width:60vw;
	margin:0 auto;
	padding:20px 48px;
}

body {
  font-family: Arial;
  background-color: var(--c6);
  margin: 0;
  padding: 0;
}

img{
	display:none;
	width: 100%;
	margin:2px 2px 1px;
	border-radius:4px;
}

.header {
	text-decoration: none;
  	color: black;
}

.img-header{
	display:none;
	width: 100%;
}


#main-header {
	margin:2px 0 0;
	display:block;
	text-align:right;
	padding:6px 12px;
}

h1, h2, h3{
	padding:12px 0;
}

h1{font-size:21px;}
h2{font-size:16px;}
h3{font-size:16px;}

p{
	padding:0 0 12px;
	text-align:justify;
	letter-spacing:1px;
}

model-viewer{
	/*background-color:lightblue;*/
	width:40vw;
	margin:0 0 12px;
	padding:0 60px;
}

.nav-container a {
	display:block;
  	color: white;
	text-decoration: none;
	text-align:right;
	padding:6px 12px 6px 0;
	margin: 2px 0 0 -16px;
	border-radius:4px;
}

#Home{
	background-color: var(--c1);
}

/*#Home:hover, #Bachelor:hover, #Projects:hover, #Models:hover, #Contact:hover{
	background-color: #cbcbcb;
}*/

#Bachelor{
 	background-color: var(--c2);
}

#Projects{
	background-color: var(--c3);
}

#Models{
	background-color:var(--c4);
}

#Contact{
	background-color: var(--c5);
}

.nav-container a.active{
	animation-name: animation;
	animation-duration: 0.5s;
	transform:translate(12px,0);
}

@keyframes animation{
  from {transform:translate(0,0);}
  to {transform:translate(12px,0);}
}

@keyframes blendin{
	from {opacity:0;padding:10px 48px;}
	to {opacity:1;padding:20px 48px;}
}

iframe{
	display:none;
}

@media screen and (max-width: 600px), (max-height:400px){
	
	body {
	  font-family: Arial;
	  background-color:var(--c6);
	}
	
	.img-header {
		display:none;
		height:20vh;
		width:20vh;
		position:fixed;
	}
	
	.main {
		display:inline-block;
	}

	.parta {
		width:100%;
		background-color:var(--c6);
		display:block;
		position:fixed;
	}
	
	.partb {
		display:block;
	    width: 100%;
		margin:96px 0 0;
		padding:0 6%;
	}
	
	.header {
		display:none;
		text-align:center;
		font-size:20px;
		margin:0;
		padding:12px 0;
		background-color:var(--c6);
		
	}

	.nav-container {
		display:flex;
		justify-content:center;
		
	}

	.nav-container a {
		color: white;
		font-size:12px;
		text-align:center;
		text-decoration: none;
	 	display:inline-block;
		padding:12px;
		margin: 0 0 18px;
	}

	.nav-container a.active {
		animation-name: animation;
		animation-duration: 0.5s;
		transform:translate(0,12px);
	}

	.nav-container a:hover {
		background-color: #cbcbcb;
	    color:white;
	}

	h2 {
		padding:0 0 12px;
		font-size:16px;
	}

	p {
		padding:0 0 12px;
		text-align:justify;
		font-size:12px;
	}

	@keyframes animation {
	  	from {transform:translate(0,0);}
	  	to {transform:translate(0,12px);}
	}
	
	@keyframes blendin{
		from {opacity:0;padding:10% 6%;}
		to {opacity:1;padding:0 6%;}
	}
	
}

}