*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

.main{
	display:block;
}

.parta {
	display:block;
	position:fixed;
	width:18%;
}

.header {
	display:block;
  	color: black;
	text-decoration: none;
	text-align:right;
	padding:20px 0;
	background-color:#fff;
}

.partb {
	display:block;
    width:60%;
	margin:0 auto;
	padding:20px 48px;
}

body {
  font-family: Arial;
  background-color:#ffffff;
  margin: 0;
  padding: 0;
}

.img-header{
	display:block;
	width: 100%;
	margin:12px auto 24px;
}

img{
	display:block;
	width: 100%;
	margin:12px auto 24px;
}

h2{
	padding:0 0 12px;
}

p{
	padding:0 0 12px;
	text-align:justify;
	letter-spacing:2px;
}

.nav-container a  {
	display:block;
  	color: white;
	text-decoration: none;
	text-align:right;
	padding:6px 12px 6px 0;
	margin: 2px 0;
 	background-color: #3B645B;
}

.nav-container a.active {
	background-color: #ffffff;
	color: black;
}

.nav-container a:hover {
  background-color: #cde4df;
  color:black;
}

@media screen and (max-width: 600px) {
	
	body {
	  font-family: Arial;
	  margin: 0;
	  padding: 0;
	  background-color:#ffffff;
	}
	
	.img-header {
		display:none;
	}
	
	.main {
		display:inline-block;
	}

	.parta {
		width:100%;
		background-color:#ffffff;
		display:block;
		position:fixed;
	}
	
	.partb {
		display:block;
	    width: 100%;
		margin:112px 0 0;
		padding:0 6%;
	}
	
	.header {
		display:block;
		text-align:center;
		font-size:16px;
		margin:0;
		padding:12px 0;
		
	}

	.nav-container {
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		
	}

	.nav-container a {
		background-color: #3B645B;
		color: white;
		font-size:12px;
		padding:12px 12px;
		text-align:center;
		text-decoration: none;
	 	display:inline-block;
	}

	.nav-container a.active {
		background-color: #ffffff;
		color: black;
		padding:10px 10px;
		border:2px solid #3B645B; 
	}

	.nav-container a:hover {
	  background-color: #cde4df;
	  color:black;
	}

	h2 {
		padding:0 0 12px;
		font-size:16px;
	}

	p {
		padding:0 0 12px;
		text-align:justify;
		font-size:12px;
	}
	
}