* {
	box-sizing: border-box;
}

.left, .right {
	float: left;
	width: 25%;
}
.main {
	float: left;
	width: 50%;
}

@media only screen and (max-width:800px){
	.left, .right {
		float: left;
		width: 100%;
	}
	.main {
		float: left;
		width: 100%;
	}
	
	ol {
		list-style-type:none;
		position: fixed;
		width: 100%;
		background-color: #2d3142;
	}
	
	li{
		float:left;
	}
	
}

ol {
	list-style-type:none;
	padding: 0px 0px;
	width: 75%;
	background-color: #2d3142;
}

li a {
	display: block;
	background-color: #2d3142;
	color:#ffffff;
	padding:10px 12px;
	text-decoration: none;
}

li a:hover {
	background-color: #ef8354;
	color:#ffffff;
}

body {
	background-color: #ffffff;
	font-family: 'Courier New', monospace;
	color: #2d3142;
}

h1 {
	text-align:left;
	color: #4f5d75;
}

p {
}

img {
	max-width: 100%;
	height: auto;
}
